<h1>Edit User</h1>
<form #editForm="ngForm" (ngSubmit)= "updateUser()">
<div class="form-group">

    <label for="id">id: </label>
    <mat-form-field appearance="outline">
        <input matInput [disabled]="isDisabled" class="form-control" type="string" name='id' [(ngModel)]="user.id"><br>
    </mat-form-field><br>
    <label for="userName">Username: </label>
    <mat-form-field appearance="outline">
        <input matInput [disabled]="isDisabled" class="form-control" type="string" name='userName' [(ngModel)]="user.userName"><br>
    </mat-form-field><br>
  <label for="firstName">First Name: </label>
  <mat-form-field appearance="outline">
      <input matInput class="form-control" type="string" name='firstName' [(ngModel)]="user.firstName"><br>
  </mat-form-field><br>
  <label for="lastName">Last Name: </label>
  <mat-form-field appearance="outline">
      <input matInput class="form-control" type="string" name='lastName' [(ngModel)]="user.lastName"><br>
  </mat-form-field><br>
  <label for="salary">Salary: </label>
  <mat-form-field appearance="outline">
      <input matInput class="form-control" type="number" name='salary' [(ngModel)]="user.salary"><br>
  </mat-form-field ><br>
  <label for="strength">Strength: </label>
  <mat-form-field appearance="outline">
  <input matInput class="form-control" type="number" name='strength' [(ngModel)]="user.strength"><br>
  </mat-form-field><br>
  <label for="dex">Dex: </label>
  <mat-form-field appearance="outline">
      <input matInput class="form-control" type="number" name='dex' [(ngModel)]="user.dex"><br>
  </mat-form-field><br>
  <label for="wisdom">Wisdom: </label>
  <mat-form-field appearance="outline">
       <input matInput class="form-control" type="number" name='wisdom' [(ngModel)]="user.wisdom"><br>
  </mat-form-field><br>
  <label for="intelligence">Intelligence: </label>
  <mat-form-field appearance="outline">
      <input matInput class="form-control" type="number" name='intelligence' [(ngModel)]="user.intelligence"><br>
  </mat-form-field><br>
  <label for="charisma">Charisma: </label>
  <mat-form-field appearance="outline">
       <input matInput class="form-control" type="number" name='charisma' [(ngModel)]="user.charisma"><br>
  </mat-form-field><br>
  <label for="constitution">Constitution: </label>
  <mat-form-field appearance="outline">
      <input matInput class="form-control" type="number" name='constitution' [(ngModel)]="user.constitution"><br>
  </mat-form-field><br>
  <label for="rankId">RankId: </label>
  <mat-form-field appearance="outline">
       <input matInput class="form-control" type="number" name='rankId' [(ngModel)]="user.rankId"><br>
  </mat-form-field><br>
</div>
<button mat-raised-button color= primary class="btn btn-primary"> Save Changes </button>
<button mat-raised-button color= primary class="btn btn-primary" [routerLink]="['/users/']"> Cancel </button>

</form>