<form *ngIf="!loggedIn()" (ngSubmit)="onSubmit()">

    <input type="text" [(ngModel)]="login.username"
      placeholder="Username" required name="username" />
      <br>
    <input type="password" [(ngModel)]="login.password"
      placeholder="Password" required name="password" />
      <br>
    <button mat-raised-button color= primary type="submit">Login</button>
</form>

<div *ngIf="loggedIn()">
<button mat-raised-button color= primary type="submit" (click)="logout()">Log out</button>
</div>

  