<form *ngIf="!loggedIn()" (ngSubmit)="onSubmit()">

  <label for="username">Username: </label>
  <mat-form-field appearance="outline">
    <input matInput type="text" [(ngModel)]="login.username"
      placeholder="Username" required name="username" />
  </mat-form-field><br>
  <label for="password">Password: </label>
  <mat-form-field appearance="outline">
    <input matInput type="password" [(ngModel)]="login.password"
      placeholder="Password" required name="password" />
  </mat-form-field><br>
  <button mat-raised-button color= primary type="submit">Login</button>
</form>


  